/* font silly */

.imagen {
    max-width: 800px;
}

span{
    font-style: normal;
}

/* fondito gay */

/*primera pag*/

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor img {
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
}

/*segunda pagina*/

.botones {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

body {
margin: 0;
padding: 0;
height: 100vh;
background-image: url('assets/cuatro.png');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
color: white;
font-family: 'Ubuntu', sans-serif;
display: flex;
flex-direction: column;
justify-content: center; 
align-items: center;    
text-align: center;
}

/* calendario con onda*/
.fecha{
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    padding: 15px 20px;
    font-size: 1.1em;
    backdrop-filter: blur(6px);
    outline: none;
    transition: .3s;
    margin: 20px 0;
    width: 280px;
    text-align: center;
}
fecha:hover,
.fecha:focus{
    background: rgba(255, 255, 255, 2);
    border-color: white;
}
/*prueba*/
.fecha::webkit-calendar-picker-indicator{
    filter: invert(1);
    cursor: pointer;
}


/*esto es del menu */
.menu-btn{
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 30px;
    background-color: #0a122079;
    color: white;
    border: none; 
    padding: 10px 15px;
    border-radius: 10px;
    z-index: 1001;
    cursor: pointer;
    user-select: none;
}

#menu-toggle{
    position: absolute;
    opacity: 0;
}

.menu{
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #0a122079;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    transition: left 0.3s ease;
}

#menu-toggle:checked ~ .menu{
    left: 0;
}

.menu a{
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    font-size: 20px;
    transition: 0.2s;
}

.menu a:hover{
    background: #18223a;
}

/* aca termina el menu */

h1, h2, h3, h4, p, button{
text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
margin-bottom: 30px;
}

h1 { font-size: 6em; }
h2 { font-size: 2em; }
h3 { font-size: 2em; }
h4, p { font-size: 1.7em; }

/* boton */

.button {
background-color: rgba(255, 255, 255, 0.1);
color: white;
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 15px 40px; 
border-radius: 12px;
backdrop-filter: blur(6px);
cursor: pointer;
transition: 0.3s;
font-size: 1.2em; 
margin: 10px;     
}

.button:hover {
background-color: rgba(255, 255, 255, 0.25);
transform: scale(1.1);
}

/* boton de volver (lo dejo asi porq ya no sirve pero por las dudas)

.btn-volver {
padding: 8px 20px;          
font-size: 0.8em;
opacity: 1;               
border: 1px solid rgba(255, 255, 255, 0.2);
}

.btn-volver:hover {
background-color: rgba(255, 255, 255, 0.2);
transform: scale(1.05);

}*/

